@import url("include.css");

*,::before,::after { box-sizing: border-box; }

.l-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-toggle { font-size: 1.25rem; padding: 0.75rem; cursor: pointer; }
.nav-logo { color: var(--white-color); font-weight: 600; font-family: var(--logo-font); }

.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: 0.75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav-link:hover { background-color: var(--first-color); }

.nav-icon { font-size: 1.25rem; }
.nav-name { font-size: var(--small-font-size); }
.expander { width: calc(var(--nav-width) + 9.25rem); }
.body-pd { padding: 2rem 0 0 16rem; }
.active { background-color: var(--first-color); }

.collapse { grid-template-columns: 20px max-content 1fr; }
.collapse-link { justify-self: flex-end; transition: .5s; }
.collapse-menu { display: none; padding: 0.75rem 2.25rem; }
.collapse-sublink { color: var(--sub-color); font-size: var(--small-font-size); }
    .collapse-sublink:hover { color: var(--white-color); }

.showCollapse { display: block; }
.rotate { transform: rotate(180deg); transition: .5s; }


/* Style the navbar */
#bottomNavbar {
    overflow: hidden;
    background-color: #12192C;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    padding-bottom: 100px;
  }
