html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'bahnschrift';
    text-align: center;
    font-size: 20pt;
}

body {
    background-color: #323131;
    color: white;
}

.header {
    align-items: baseline;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22pt;
    float: center;
    text-align: center;
    display: flow-root;
}

.footer {
    font-size: 12pt;
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

.footer:hover {
    opacity: 0.7;
  }

.output {
    font-size: 18pt;
    text-align: left;
}

.input {
    font-size: 20pt;
    height: 100%;
    display: inline-table;
    font-family: 'bahnschrift';
}

input:hover {
    opacity: 0.7;
  }

  select:hover {
    opacity: 0.7;
  }

.labelMeterCheck {
    text-align: center;
    font-size: 20pt;
    height: 100%;
    display: inline-table;
    font-family: 'bahnschrift';
}

.inputMeterCheck {
    text-align: center;
    max-width: 150px;
    width: 30vw;
    font-size: 22pt;
    display: inline-table;
    font-family: 'bahnschrift';
}

.inputErr {
    text-align: center;
    font-size: 22pt;
    height: 100%;
    width: 200px;
    display: inline-block;
    font-family: 'bahnschrift';
    margin: 5px;
}

.inputModelDecoding {
    font-size: 20pt;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.inputRadio {
    font-size: 20pt;
}

.button {
    border-radius: 10px;
    height: 100%;
    margin: 1%;
    box-sizing: border-box;
    border: 3px;
    text-align: center;
    font-size: 22pt;
    cursor: pointer;
    color: white;
    background-color: rgb(0,145,215);
    font-family: 'bahnschrift';
}

.button:hover {
    opacity: 0.6;
  }

#StartMeterCheck {
    background-color: #77dd77;
    font-size: 30pt;
    padding:2%;
}

#resetMeterCheck {
    font-size: 30pt;
    padding:2%
}

/* Кнопка выпадающего списка */
.dropbtn {
    padding: auto;
    background-color: rgb(0,145,215);
    color: white;
    padding: 16px;
    font-size: 16pt;
    border: none;
    text-align: left;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    float: left;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    font-size: 15pt;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.visible-dropdown-content {
    font-size: 16pt;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #646464;}

input[type="checkbox"] {
    font-size: 22;
    width: 20px;
    height: 20px;
}